- title(t 'name')

%p= raw(t 'home.intro_1', :link => 'https://github.com/maker/ratchet')
%p= raw(t 'home.intro_2', :link_1 => 'http://haml.info', :link_2 => 'http://sass-lang.com')

= form_tag(ratchet_path) do
  %input{ :type => 'submit', :value => 'Play With It' }

/ = github_btn(:watch)
