- title(t 'name')

= render 'title_bar', :locals => { :visibility => :show }

- # Scrollable HTML content
%div.content
  = render 'slider', :locals => { :visibility => :show }
  %div.content-padded

= render 'tab_bar', :locals => { :visibility => :show }
